:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8ff;
}

/* ------------
    TYPOGRAPHY 
   ------------ */

h1 {
  font-size: 2.7rem;
  color: white;
}

h2 {
  font-size: 1.65rem;
  font-weight: 600;
  margin: 0.55em 0;
}

p {
  font-size: 18px;
}

.grid-one-span {
  color: var(--yellow-500);
}

/* ----------------
        Layout
   ---------------- */

img {
  width: 50%;
  min-width: 150px;
  /* max-width: 250px; */
}

.bento-grid {
  padding: 0 1.7em;
  max-width: 1450px;
  margin: auto;
  display: grid;
  gap: 20px;
}

.bento-grid > * {
  border-radius: 10px;
  padding: 1.25em;
  min-height: 200px;
}

/* grid grouped together */
.bento-grid > :nth-child(1),
.bento-grid > :nth-child(4),
.bento-grid > :nth-child(5) {
  text-align: center;
}

/* grid one */

.bento-grid > :nth-child(1) {
  background-color: var(--purple-500);
  color: white;

  padding: 2.5em;
}

.five-stars {
  margin-top: 1em;
}

/* grid two */

.bento-grid > :nth-child(2) {
  background-color: white;
}

.bento-grid > :nth-child(2) h2 {
  font-size: 1.5rem;
}

.bento-grid > :nth-child(2) img,
.bento-grid > :nth-child(4) img {
  width: 100%;
}

/* grid three */

.bento-grid > :nth-child(3) {
  background-color: var(--yellow-500);
  overflow: hidden;
  position: relative;
  /* height: 315px; */
}

.bento-grid > :nth-child(3) h2,
.calendar-img {
  /* width: 70%; */

  margin-top: 0;
}

.bento-grid > :nth-child(3) h2 {
  font-size: 1.4rem;
}

/* I need to get back */
.calendar-img {
  position: absolute;
  min-width: 200px;
}

/* grid four */

.bento-grid > :nth-child(4) {
  background-color: var(--purple-100);
}

.bento-grid > :nth-child(4) img {
  max-width: 470px;
}

.bento-grid > :nth-child(4) p {
  /* padding: 1.25em 0; */
  font-size: 1.35rem;
  padding-top: 1em;
}

/* grid five */

.bento-grid > :nth-child(5) {
  background-color: var(--purple-500);
}

.bento-grid > :nth-child(5) img {
  width: 70%;
  /* padding-top: 1em; */
}

.bento-grid > :nth-child(5) p {
  color: white;
  font-size: 1.6em;
  padding-top: 1em;
  /* padding: 1em 1em 0; */
}

/* grid six */

.bento-grid > :nth-child(6) {
  background-color: white;
}

.bento-grid > :nth-child(6) h2 {
  font-size: 3rem;
  margin: 0;
}

.bento-grid > :nth-child(6) img {
  margin-top: 1.25em;
}

/* grid seven */

.bento-grid > :nth-child(7) {
  background-color: var(--yellow-100);
}

.bento-grid > :nth-child(7) h2 {
  font-size: 2rem;
  margin: 0;
}

.grid-seven-span {
  font-style: italic;
  color: var(--purple-500);
}

/* grid eight */

.bento-grid > :nth-child(8) {
  background-color: var(--yellow-500);
}

.bento-grid > :nth-child(8) img {
  width: 70%;
  max-width: 220px;
}

/* media queries */

@media (min-width: 600px) {
  .bento-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .bento-grid > :nth-child(1) {
    grid-column: 1 / -1;
  }

  /* take all the elements from two up */
  .bento-grid > :nth-child(n + 2) {
    grid-column: span 2;
  }

  .bento-grid > :nth-child(4) {
    grid-column: 1 / -1;
  }
}

@media (min-width: 850px) {
  .bento-grid {
    padding: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto 150px 50px;
    grid-template-areas:
      "post post sm sm sm sm schedule schedule"
      "growth growth manage manage maintain maintain schedule schedule"
      "write write write write followers followers followers followers"
      "write write write write followers followers followers followers";
  }

  .bento-grid > :nth-child(1) {
    grid-area: sm;
  }

  .bento-grid > :nth-child(2) {
    grid-area: manage;
  }

  .bento-grid > :nth-child(3) {
    grid-area: maintain;
  }

  .bento-grid > :nth-child(4) {
    grid-area: schedule;
  }

  .bento-grid > :nth-child(5) {
    grid-area: followers;
  }

  .bento-grid > :nth-child(6) {
    grid-area: growth;
  }

  .bento-grid > :nth-child(7) {
    grid-area: post;
  }

  .bento-grid > :nth-child(8) {
    grid-area: write;
    display: grid;
    align-items: center;
    justify-items: end;
    grid-template-columns: 1fr 1fr;
  }

  .grid-grow-followers {
    display: flex;
    align-items: center;
  }
  .bento-grid > :nth-child(5) img {
    flex: 1;
    max-width: 180px;
    object-fit: contain;
  }

  .bento-grid > :nth-child(8) img {
    max-width: 100px;
  }
}

@media (min-width: 1150px) {
  body {
    height: 100vh;
    display: grid;
  }
  .bento-grid {
    grid-template-rows: 235px 200px 150px;
    grid-template-areas:
      "post post sm sm sm sm schedule schedule"
      "write write manage manage maintain maintain schedule schedule"
      "write write growth growth followers followers followers followers"
      "write write growth growth followers followers followers followers";
  }

  .bento-grid > :nth-child(1) h1 {
    font-size: 2.3rem;
  }

  .bento-grid > :nth-child(4) h2 {
    margin-top: 0;
  }

  .bento-grid > :nth-child(4) p {
    font-size: 1.1rem;
  }

  .bento-grid > :nth-child(5) p {
    font-size: 1.9rem;
    flex: 1;
  }

  .bento-grid > :nth-child(7) h2 {
    font-size: 1.65rem;
    margin-bottom: 1em;
  }

  .bento-grid > :nth-child(8) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .bento-grid > :nth-child(8) h2 {
    font-size: 2rem;
    text-align: center;
  }

  .bento-grid > :nth-child(8) img {
    max-width: none;
  }
}

@media (min-width: 1350px) {
  .bento-grid > :nth-child(4) {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  .schedule-img {
    position: absolute;
    /* left: 125px;
    top: 165px; */

    height: 280px;
    top: 76px;
    left: 130px;
  }
}

/* refactor code and need to make all items smaller */
